@{
    ViewData["Title"] = "Free API Collection";
}

<h4>Hey Whatsup!</h4>

<div>
    <p>It's very easy to pull api data! Below are some sample free APIs.</p>
</div>

<div class="container" style="margin-top: 1em;">
    <ul>
        <li><a asp-action="index" asp-controller="weather">Weather</a></li>
        <li><a asp-action="index" asp-controller="crypto">CryptoCurrency Exchanges</a></li>
        <li><a asp-action="index" asp-controller="currency">Foreign Exchange Rates</a></li>
    </ul>
</div>
