
@{
    ViewData["Title"] = "Enter Cities for Weather";
}

<h4 class="mt2">
    What Cities Do You Want to See the Weather For?
</h4>

<div class="mt2">
    <form method="POST">
        <div>
            <label for="city_one">City You Are In</label>
            <input type="text" id="city_one" name="city_one" placeholder="los angeles" />
        </div>
        <div>
            <label for="city_two">City You Wish You Were In</label>
            <input type="text" id="city_two" name="city_two" placeholder="tokyo" />
        </div>
        <div>
            <input type="submit" />
        </div>
    </form>
</div>
